/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    background: #efefef;
}
header {
    height: 10%;
}

main {
    min-height: 85%;
}

footer {
    height: 5%;
}
